.main{
    margin: auto;
    width: 70%;
    margin-top: 70px;
    padding-bottom: 40px;
}
.head{
    padding-top: 15px;
    color: #888;
    height: 30px;
}
.position{
    margin-left: 20px;
    line-height: 30px;
    float: left;
    height: 100%;
}
.head-tag{
    float: right;
    display: flex;
    justify-content: flex-end;
}
.head a{
    color: #fff;
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#last-tag{
    margin-right: 20px;
}
.head-tag>p{
    line-height: 30px;
}
.tag{
    margin-top: 5px;
    padding:1px 12px 1px 12px;
    height: 20px;
    background-color: #73C9F7;
    border-radius:10px;
}
.big-box{
    margin-top: 20px;
    height: 400px;
    justify-content: space-between;
    display: flex;
}
.big-box>div{
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
}
.box1{
    width: 34.5%;
}
.box2{
    width: 64.5%;
}
.box1 li{
    height: 35px;
    border-bottom: 1px solid #88888846;
}
.box1 li:last-child{
    border: none;
    text-align: right;
    margin-right: 30px;
    line-height: 35px;
}
.exist{
    float: left;
    width: 100%;
}
.exist span,.exist a{
    line-height: 35px;
    margin-left: 10px;
    float: left;
}
.exist div{
    float: right;
    margin-right: 15px;
    line-height: 35px;
    color: #868686;
}
.exist span{
    font-size: medium;
    font-weight: 550;
    margin-left: 13px;
    margin-right: 5px;
}
.hide{
    display: none;
    background-color: #fff;
    border-radius: 10px;
    width: 745px;
    min-height: 400px;
    z-index: 1;
}
.title{
    height: 35px;
    border-bottom: 1px solid #88888846;
}
.title span{
    position: relative;
    right: 427px;
    bottom: 7px;
    line-height: 50px;
    font-size: 18.8px;
    font-weight: 600;
}
.concent>div{
    min-height: 70px;
    border-bottom: 1px solid #88888846;
    justify-content: start;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.small-title{
    min-width: 70px;
    margin: 3px 10px 0px 10px;
    line-height: 20px;
}
.concent div div{
    margin-right: 10px;
}
.concent span{
    background-color: #888;
    width: 150px;
    margin-left: 10px;
    float: left;
    line-height: 30px;
}
.concent a{
    line-height: 25px;
    margin: 5px 5px 5px 0px;
}
.box1 li:hover .hide1{
    display: block;
    position: relative;
    left: 405.5px
}
.box1 li:hover .hide2{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 101%;
}
.box1 li:hover .hide3{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 203%;
}
.box1 li:hover .hide4{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 305%;
}
.box1 li:hover .hide5{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 407%;
}
.box1 li:hover .hide6{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 509%;
}
.box1 li:hover .hide7{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 611%;
}
.box1 li:hover .hide8{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 713%;
}
.box1 li:hover .hide9{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 815%;
}
.box1 li:hover .hide10{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 817%;
}
.box1 li:hover .hide11{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 819%;
}
.box1 li:hover .hide12{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 821%;
}
.box1 li:hover .hide13{
    display: block;
    position: relative;
    left: 405.5px;
    bottom: 917%;
}
.box1 li:first-child:hover {
    width: 110%;
    border-radius: 10px 0px;
    background-color:#8888883b; 
}
.box1 li:hover {
    width: 110%;
    background-color:#8888883b;
}
.box1 li:last-child:hover{
    width: 100%;
    background-color: #fff;
}
.box1 li:last-child>div:hover{
    position: relative;
    right: 30px;
}
.box1 li:hover .exist div{
    display: none;
}
.last>div{
    border-bottom: none;
}
.box1 a{
    color: #686868;
}
.box1 a:hover{
    text-decoration: underline;
    color: #1989e5;
}
.more{
    width: 108%;
    margin-top: 4px;
}
.more a{
    color: #000;
    padding-right: 15px;
}
.more a:hover{
    padding-right: 18.2px;
    text-decoration: none;
    color: #1989e5;
}
